#canvas {
    display: flex;
    flex-wrap:wrap;
    height: 500px;
    width: 500px;
}

.blankItem {
    border-style: solid;
    border-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex: 1 1 auto;
    min-width: auto;    
}

.hover {
    background-color: grey;
}